<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  </head>
  <body>
    <section>
      <div class="text-wrap" id="landing-txt">
         <h1>Welcome to your budget manager</h1>
          <p>Login and keep your incomes and expenses on track!</p>
          <a class="btn" href="/login">Login!</a>
       </div>
       <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
       </ul>
      </section>
  </body>
</html>