@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font: 16px/1.5 'Roboto', Sans-serif !important;
  height: 100%;
  box-sizing: border-box;
  background: #ecf0f5 !important;
  color: #fff !important;
}
#landing-txt {
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 35vh;
}
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 40s linear infinite;
}
.slideshow li:nth-child(1) { 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://i.imgur.com/K3mPv14.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://i.imgur.com/SBEmFpv.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
.btn {
  border-radius: 3px;
  background-color: #5e30ba;
  padding: 15px 25px;
}
.btn:hover {
  background-color: #4b2696;
}
.text-wrap {
  margin: 0 15px;
}
a:hover {
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}