@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font: 16px/1.5 'Roboto', Sans-serif !important;
  height: 100%;
  box-sizing: border-box;
  background: #ecf0f5 !important;
  color: #555 !important;
}
.navbar {
  background-color: #5e30ba;
  height: 70px;
}
.brand {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 20px 25px;
}
.menu {
  display: none;
}
a:hover {
  color: #fff;
}
a {
  color: #fff;
}
.container {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}
.text-wrap {
  margin: 0 15px;
}
.text-vertical-center {
  padding: 125px 0 125px 0;
}
.btn {
  border-radius: 3px;
  background-color: #5e30ba;
  color: #fff;
  padding: 15px 25px;
  margin: 15px;
}
.btn:hover {
  background-color: #4b2696;
}
.navigation {
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5e30ba;
  transition: all 0.4s ease-in-out;
  padding-top: 0px;
}
.navigation a {
  text-decoration: none;
}
.navigation .menulist {
  margin-top:30px;
  text-align: center;
  list-style: none; 
  margin-left: auto;
  margin-right: auto;
}
.menulist {
  width: 200px;
}
.logo {
  text-align: center;
  margin:0 auto;
}
.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}
.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:#4b2696;
  top:5px;
}
.line2.active {
  transform: rotate(45deg);
  background-color:#4b2696;
}
.line3.active {
  transform: rotate(-45deg);
  background-color:#4b2696;
  top:-8px;
}
.menuitems {
  padding-top:12px;
  padding-bottom:12px;
  text-decoration: none;
  list-style:none; 
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 24px;
  display: inline-block;
  position:relative;	
  text-align:center;
  color: #fff;
  opacity:0.0;
  transition: all .5s ease-in-out;
}
.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}
.menuitems:hover::after {
  width: 100%;
}
#closebtn {
  height:25px;
  width:25px;	
  text-decoration:none;
  font-size: 36px !important;
  z-index:100;
  color:#fff;
  cursor:pointer;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}
#main {	
  transition: margin-top .4s;
  text-align:center;
  margin:auto;
  padding: 16px;
  font-size:30px;
}
ul {
  list-style: none;
}
.wrap {
  margin: 15px;
}
.card {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
  box-shadow: #555 5px 5px 5px;
}
.mg-b {
  margin-bottom: 15px; 
}
.table {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
.table-header {
  font-weight: bold;
  display: none;
}
.table.columns {
  padding-left: 0;
  padding-right: 0;
}
.table-desc {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff
}
.table-val {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.table-edit-delete {
  border-bottom: 1px solid #fff;
  padding: 5px 0 5px 0;
  margin-bottom: 15px;
}
.btn-small {
  padding: 2px;
  margin: 0;
}
.budget-row {
  background-color: #e8e7e7;
}
.table h1 {
  text-align: center;
}
.incomes-expenses {
  padding: 0 !important;
}
.i-remove {
  background-image: url('/assets/icons/rubbish-bin.png');
}
.i-edit {
  background: url('/assets/icons/pencil-edit-button.png');
}
@media (min-width: 640px) {
  #closebtn {
    display: none;
  }
  #main {
    display: none;
  }
  .menulist {
    display: none;
  }
  .menu {
    display: block;
    height: 100%;
    margin: 0 50px;
    float: right;
  }
  .menu-item {
    height: 100%;
    display: inline-block;
  }
  .menu-item a {
    margin-top: 15px;
    display: inline-block;
  }
  .menu-item:hover {
    background-color: #4b2696;
  }
  .form-group {
    width: 50%;
    margin: 0 auto;
  }
  .table-header {
    display: block;
  }
  .table-edit-delete {
    margin-bottom: 0;
  }
  .incomes {
    padding-left: 0 !important;
  }
  .expenses {
    padding-right: 0 !important;
  }
}