<% include ../partials/header %>
<div class="container">
  <div class="row wrap card">
    <form class="form-group" action="/budget" method="POST">
      <input type="text" name="description" placeholder="Description">
      <input type="number" name="value" placeholder="Value">
      <select class="mg-b" name="type">
        <option value="expense">Expense</option>
        <option value="income">Income</option>
      </select>
      <select name="month">
        <option value="january">January</option>
        <option value="february">February</option>
        <option value="march">March</option>
        <option value="april">April</option>
        <option value="may">May</option>
        <option value="june">June</option>
        <option value="july">July</option>
        <option value="august">August</option>
        <option value="september">September</option>
        <option value="october">October</option>
        <option value="november">November</option>
        <option value="december">December</option>
      </select>
      <button class="btn" type="submit">Add!</button>
    </form>
  </div>
  <div class="row wrap">
    <div class="large-6 small-12 columns card">
        <ul>
          <% for (income of budgets.incomes) { %>
            <li><%= income.description %> | <%= income.value %></li>
          <% } %>
        </ul>
    </div>
    <div class="large-6 small-12 columns card">
        <ul>
          <% for (expense of budgets.expenses) { %>
            <li><%= expense.description %> | <%= expense.value %></li>
          <% } %>
        </ul>
    </div>
  </div>
</div>
<% include ../partials/footer %>